.category {
	position: relative;
	width: fit-content;
	display: block;
}

.category__title {
	display: flex;
	align-items: center;
	padding: 10px 35px;
	color: var(--white-color);
	background-color: var(--success-color);
	cursor: pointer;
	gap: 5px;
}

.category:hover .selection__container {
	display: block;
}

.selection__container {
	border: 1px solid var(--success-color);
	position: absolute;
	right: 0;
	left: 0;
	display: none;
	background-color: var(--white-color);
}

.selection {
	margin-top: 2px;
	padding: 5px 10px;
	cursor: pointer;
}

.selection:hover {
	background-color: var(--text-color);
	color: var(--white-color);
}

.filter__item {
	margin-left: 20px;
}

.checkbox {
	cursor: pointer;
	margin-right: 5px;
}
