.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listItems {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
	gap: 10px;
}

.todoCard {
	background-color: var(--list-item-background-color);
	width: 280px;
	max-width: 300px;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cardHeader {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--text-color);
}

.cardBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.cardTitle {
	text-align: center;
	flex-grow: 1;
}

.inputEdit {
	flex-grow: 1;
	padding: 5px;
}

.categoryField {
	margin-top: 20px;
}

.categoryContainer {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
}

.category {
	border-radius: 10px;
	background-color: var(--text-color);
	color: var(--white-color);
	padding: 5px;
	cursor: pointer;
}

.date {
	margin-top: 10px;
}

.cardFooter {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cardCheckbox {
	scale: 1.2;
	cursor: pointer;
}
