.wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	top: -20px;
	left: 0;
	right: 0;
	background-color: transparent;
	position: absolute;
	z-index: 3;
	padding: 20px;
}

.container {
	padding: 20px;
	width: 500px;
	background-color: var(--white-color);
	border-radius: 10px;
	box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
}

.input {
	width: 100%;
	padding: 5px;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--text-color);
}

.category {
	margin-top: 20px;
	display: flex;
}

.filterItemContainer {
	display: flex;
	align-items: center;
	margin-left: 10px;
	flex-wrap: wrap;
	gap: 5px;
}

.filterItem {
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--list-item-background-color);
	cursor: pointer;
}

.footer {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.button {
	margin-left: 10px;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.buttonAdd {
	background-color: var(--primary-color);
	color: var(--white-color);
}
